{
	"presets": [
		"flow",
		[
			"env",
			{
				"targets": {
					"node": "current"
				},
				"useBuiltIns": true
			}
		]
	],
	"plugins": [
		"transform-es2015-parameters",
		"transform-object-rest-spread"
	]
}
